useDynLib(Btrait)
import(plot3D)
importFrom("stats", "na.omit")
importFrom("graphics", "par", "abline", "axis", "boxplot", "points", "rug")
importFrom("stats", "reshape", "quantile")
importFrom("grDevices", "grey.colors")
importFrom("stats", "aggregate")
importFrom("utils", "stack")

export(mapKey, mapLegend, mapMWTL, mapNSBS)
export(metadata)
export(fuzzy2crisp, crisp2fuzzy)
export(long2wide, l2wDensity, l2wTrait)
export(wide2long, w2lDensity, w2lTrait)
export(addAbsences)
export(getTraitDensity)
export(getDensity, getProportion) 
export(getSummary)
export(getTaxonomy, getTaxonInfo)
export(getIrrIndex, getDbIndex)
export(extendTrait)
export(getTrait)

                