useDynLib(Btrait)
import(plot3D)
importFrom("stats", "na.omit")
importFrom("graphics", "par", "abline", "axis", "boxplot", "points", "rug")
importFrom("stats", "reshape", "quantile")
importFrom("grDevices", "grey.colors")
importFrom("stats", "aggregate")
importFrom("utils", "stack")

export(map_key, map_legend, map_MWTL, map_NSBS)
export(metadata)
export(fuzzy2crisp, crisp2fuzzy)
export(long2wide, l2w_density, l2w_trait)
export(wide2long, w2l_density, w2l_trait)
export(add_absences)
export(get_trait_density)
export(get_density, get_proportion) 
export(get_summary)
export(get_taxonomy, get_taxon_info)
export(get_irr_index, get_Db_index)
export(get_trait)
export(extend_trait)

                